body {
    //main bg color
    background-image: linear-gradient(to right, $blue, $lightBlue);
}

.page-wrap {
    //max-width: 1200px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
