// Styles de la page Home
.home-page {
}

//title
.title {
  color: white;
  text-shadow: 1vw 1vw $blue;
  font-size: 15vw;
}

//sub-title
.subtitle {
  color: $darkBlue;
  font-size: 3vw;
}

.content-wrap {
}

//content block title + subtitle
.infos-block {
  text-align: center;
}

//Dot left corner
.dot1 {
  z-index: -1;
  height: 700px;
  width: 700px;
  background: linear-gradient(150deg, #FFF 0%,$blue 50%, $darkBlue 100%);
  position: absolute;
  top: -100px;
  left: -20px;
  border-radius: 50%;
}

//Dot right corner
.dot2 {
  z-index: -1;
  height: 350px;
  width: 350px;
  background: linear-gradient(150deg, #FFF 0%, $lightBlue 50%, $blue 100%);
  position: absolute;
  top: -50px;
  right: -50px;
  border-radius: 50%;
}

//arrow at the right bottom corner
.main-nav-arrow {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 40px;
  //animation
  animation: pulse 1.5s infinite;
}

//key for arrow animation
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 1 0 10px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
