// Styles de la page User
//Mettre les données sur la meme ligne
p {
  display: inline-block;
}

//Pour centrer
.infos-block {
  text-align: center;
}

//Couleur et taille du Key
.userKey {
  color: $darkBlue;
  font-size: 2vw;
}

//Couleur et taille de la value
.userValue {
  color: white;
  font-size: 2vw;
}

//Animation pour l'icon
.nav-arrow {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 40px;
  //animation
  animation: pulse 1.5s infinite;
}

//key for arrow animation
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 1 0 10px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

//Select
.users-select {
  text-align: center;
}
